	* { margin: 0; padding: 0; list-style: none; }
	ul{ list-style:none;}
	img { display: block; }
	a { text-decoration: none;}
	body { overflow:hidden;/*清除滚动条*/background: url(../images/background.jpg); }
	.con { width: 100%; transition: all 1s;}
/*侧边小圆点开始*/
	.yuanDian { position:fixed; right:20px; top: 50%; margin: -60px 0 0 0; }
	.yuanDian li { width: 18px; height: 18px; border-radius: 50%; border:1px solid #ccc; background: rgba(255,255,255,0.5); cursor:pointer; margin: 0 0 10px 0; }
	.yuanDian .current { background: #FF6600; }
/*侧边小圆点结束*/
/*第一页开始*/	
	 .page1 { background: #036; width: 100%; height: 100%; overflow: hidden; position: relative;}
	 .page1 ul li { width: 100%; height: 100%; float: left; text-align: center; margin: 0 auto; position: absolute; display: none; }
	 .pgOl { width: 170px;  position: absolute; top: 95%; left: 50%; margin-left: -85px; }
	 .pgOl li { width: 18px; height: 18px; float: left; border-radius: 50%; border:3px solid rgba(255,255,255,0.5); margin: 0 0 0 10px; text-align: center; line-height: 18px; cursor: pointer; font-size: 12px; color: #fff;}
	 .pgOl li:hover { background: rgba(255,255,255,0.5); }
	 .pgolCurrent {background: rgba(255,255,255,0.5);}
	  	
/*第一页结束*/
	
/*第二页开始*/	
	 .con .page2 { width: 100%; height: 100%; position: relative;}
	 .con .pg2C { width: 960px; height: 60px; position: absolute; bottom: 0px; left: 50%; margin: 0 0 0 -480px; }
/*滑动门导航开始*/
	 .nav02 ul li{ cursor: pointer; float:left; margin:0 10px; text-align: center; line-height: 54px; }
	 .nav02 a{ color:#fff; text-decoration:none; font-size:12px;}
	 .nav02{ width: 920px; height: 54px; background: url(../images/weixin.jpg) repeat-x; position: absolute; top: 12%; right: 50%;  margin: 0 -415px 0 0; padding: 20px 0 0 40px; border-radius: 10px; box-shadow: 0px 5px 15px #666;}
	 .nav02 ul li a,.nav02 ul li span{ height: 33px; display: block; line-height: 33px; background: url(../images/weixin.png) no-repeat;}
	 .nav02 ul li a{ background-position:0 -192px; padding-left:18px;}
	 .nav02 ul li a span{ background-position:right -192px; padding-right:18px;}
	 .nav02 ul li a:active{ background-position:0 -144px;}
	 .nav02 ul li a:active span{ background-position:right -144px;}
/*滑动门导航结束*/
/*第二页无缝连接1开始*/	
	.pg2Zp { width: 1200px; height: 390px; background: #CCC; position: relative; top: 30%; left: 50%; box-shadow:0 0 20px #666 inset; overflow: hidden; padding: 15px 0 0 0; margin: 0 0 0 -600px;}
	.pg2Up { margin-top: 90px; width: 1200px; height: 180px; border:2px solid rgba(255,255,255,0.5); position: relative;}
	.pg2Up .pg2Up01 { width: 3160px; overflow: hidden; position: absolute;}
	.pg2Up .pg2Up01 li { width: 240px; height: 180px; float: left; position: relative; cursor: pointer; }
	.pg2Up .pg2Up01 li .heise { width: 240px; height: 180px; background:rgba(0,0,0,0.2); position:absolute; top:0; left:0; z-index: 997;}
	.pg2Up .pg2Up01 li p { position: absolute; font-weight: bold; color: #fff; z-index: 998; font-weight: normal; width: 240px; height: 180px; line-height: 180px; text-align:center; left: 0; top: 0; }
	.pg2Up .pg2Up01 li a { width: 240px; height: 180px; display: block;}

/*第二页无缝连接1结束*/
/*网页作品展示*/	
	.showWangye { background: #fff;width: 100%; height: 100%; position: fixed; z-index: 999; left: 0; top: 100%;  display: none;}
	.showWangye .showwangyeTc { width: 80px; height: 40px; background: #FF6600; border-radius: 10px; position: absolute; bottom: 5%; right: 10%; text-align: center; line-height: 40px; color: #fff; z-index: 1200; }
	.showwangyeTc:hover { background: #FF6600; color: #000;}
	.wangyeZs { background: url(../images/pingguo.jpg) no-repeat; width: 1000px; height: 644px; margin: 0 auto;cursor: pointer; position: relative;}
	.wangyezsUl01 { width: 687px; height: 388px; position: absolute; top: 102px; left: 167px; overflow: hidden;	}
	.wangyezsUl01 li { width: 687px; height: 388px; float: left; cursor: pointer;}
	.wangyezsUl02 { position: absolute; top: 497px; left: 23%; margin: 0 0 0 -75px;} 
	.wangyezsUl02 li { width: 8px; height: 8px; border-radius: 50%;  margin: 0 0 0 5px; cursor: pointer; color: #fff; float: left; border: 1px solid rgba(255,255,255,0.5); }
	.showwyLic { width: 10px; height: 10px; background: rgba(255,255,255,0.6);}
	.showWangye .workInfoBox{
		margin-left: 50px;
		margin-top: 50px;
	}
	.showWangye .workInfoBox p {
		margin: 20px 0;
		width: 50%;
	}
	.showWangye .workInfoBox .title {
		font-size: 24px;
		font-weight: boild;
	}
	.showWangye .workInfoBox .work {
		font-size: 20px;
		font-weight: boild;
	}
	.showWangye .workInfoBox .info_item {
		width: 50%;
	}
/*网页作品展示结束*/
/*第三页展示开始*/
	.pg3s { width: 960px; height: 60px; position: absolute; top: 80px; left: 50%; margin: 0 0 0 -480px; }	
	/*文字控制*/
	.con .page3 { width: 100%; height: 100%; position: relative; }
	.pg3Wz { width: 429px; height: 411px;  position: absolute; top: 30%; left: 13%; color: #fff;  }
	/*.pg3Wz h2 { color: #FF7A00; font-weight: bold; font-family: Geneva, sans-serif;}
	.pg3Wz p { line-height: 30px; font-weight: 200; font-family: "宋体";}*/
	/*文字控制结束*/ 
	.jinengtiao{width:455px;height:350px; position:absolute;right:15%;top:25%}
	.jinengtiao ul{width:117px;height:118px;float:left;margin-left:46px;margin-top:50px;position:relative}
	.jinengtiao ul.jn1,.jinengtiao ul.jn4{margin-left:0}
	.jinengtiao ul li{position:absolute;top:0;left:0}
	.jinengtiao ul li:nth-child(1){width:117px;height:118px;background:url(../images/skill.png)}
	.jinengtiao ul li:nth-child(2){width:112px;height:113px;left:3px;top:3px;-moz-animation:zhuan 4.5s linear 0s infinite;-webkit-animation:zhuan 4.5s linear 0s infinite;-ms-animation:zhuan 4.5s linear 0s infinite;-o-animation:zhuan 4.5s linear 0s infinite}
	.jinengtiao ul li:nth-child(3){width:99px;height:101px;left:9px;top:9px}
	.jinengtiao ul.jn1 li:nth-child(2){background:url(../images/skill.png) -117px 0}
	.jinengtiao ul.jn2 li:nth-child(2){background:url(../images/skill.png) -229px 0}
	.jinengtiao ul.jn3 li:nth-child(2){background:url(../images/skill.png) -1px -118px;left:1px}
	.jinengtiao ul.jn4 li:nth-child(2){background:url(../images/skill.png) -117px -118px}
	.jinengtiao ul.jn5 li:nth-child(2){background:url(../images/skill.png) -229px -118px}
	.jinengtiao ul.jn6 li:nth-child(2){background:url(../images/skill.png) 0 -233px}
	.jinengtiao ul.jn1 li:nth-child(3){background:url(../images/skill.png) -117px -233px}
	.jinengtiao ul.jn2 li:nth-child(3){background:url(../images/skill.png) -235px -232px}
	.jinengtiao ul.jn3 li:nth-child(3){background:url(../images/skill.png) -6px -348px}
	.jinengtiao ul.jn4 li:nth-child(3){background:url(../images/skill.png) -111px -347px}
	.jinengtiao ul.jn5 li:nth-child(3){background:url(../images/skill.png) -216px -347px}
	.jinengtiao ul.jn6 li:nth-child(3){background:url(../images/skill.png) -321px -344px}
	@-webkit-keyframes zhuan{from{transform:rotate(0)}
	to{transform:rotate(360deg)}
	}
	@-moz-keyframes zhuan{from{transform:rotate(0)}
	to{transform:rotate(360deg)}
	}
	@-ms-keyframes zhuan{from{transform:rotate(0)}
	to{transform:rotate(360deg)}
	}
	@-o-keyframes zhuan{from{transform:rotate(0)}
	to{transform:rotate(360deg)}
}
/*第三页展示结束*/
/*第四页展示开始*/
	.page4 { width: 100%; height: 100%; position: relative; }
	.pg4A { width: 960px; height: 60px; position: absolute; top: 80px; left: 50%; margin: 0 0 0 -480px;}
	.pg4Jn { width: 1224px; height: 502px; position: absolute; top: 150px; left: 50%; margin: 0 0 0 -612px; cursor: pointer;} 
	.pg4Tx { background: url(../images/wo-2.png) no-repeat; width: 203px; height: 198px; position: absolute; top: 180px; left: 187px; cursor: pointer; transition: all 1s; }
	.pg4Tx:hover { background: url(../images/wo.png) no-repeat; -moz-transform:rotate(720deg); -ms-transform:rotate(720deg); -o-transform:rotate(720deg); -webkit-transform:rotate(720deg); transform:rotate(720deg);}
	.jianLi { width: 140px; height: 45px; position: absolute; bottom: 10%; right: 15%; cursor: pointer;}
	.jianLi a { width: 140px; height: 45px; display: block; }
/*第四页展示结束*/
/*第五页展示开始*/
	.con .page5 { width: 100%; height: 100%; position: relative;}
	.pg5C { width: 960px; height: 60px; position: absolute; top: 80px; left: 50%; margin: 0 0 0 -480px;}
	.pg5Tb { width: 1000px; height: 400px; position: absolute; top: 190px; left: 50%; margin: 0 0 0 -500px; position: relative;}
	.pg5Tb .pg5Tel { background: url(../images/phone.png) no-repeat; width: 300px; height: 235px; position: absolute; top: 88px; left: 15px; cursor: pointer; }
	.pg5Tb .pg5Qq { background: url(../images/qq.png) no-repeat; width: 300px; height: 235px; position: absolute; top: 10px; left: 276px; cursor: pointer;}
	.pg5Tb .pg5Weixin { background: url(../images/weixin02.png) no-repeat; width: 300px; height: 235px; position: absolute; top: 88px; left: 530px; cursor: pointer;}
	.pg5Tb .pg5Email { background: url(../images/email.png) no-repeat; width: 300px; height: 235px; position: absolute; top: 10px; left: 708px; cursor: pointer;}
	.pg5Line01 { position: absolute; top: 115px; left: 237px;}
	.pg5Line02 { position: absolute; top: 115px; left: 878px;}

/*第五页展示结束*/

	/*导航开始*/
	.nav { position: fixed; top: 0; left: 0; width: 100%; height: 40px; background: rgba(0,0,0,0.5);}
	.nav .navUl { position: absolute; right:10%; top: 0; }
	.nav .navUl li { width: 100px; height: 40px; float: left; font-size: 18px; color: #FFF; margin: 0 20px 0 0; text-align: center; line-height: 40px; cursor: pointer; border-radius: 5px;}
	.nav .navUl li:hover { background: #FF6600; color: #000;}
	.nav .navUl li a { width: 70px; height: 40px; line-height: 40px; display: block; color: #FFF;}
	.nav .navUl .nuCurrent { background: #FF6600; }
	/*导航结束*/
	.contact_item_box{
	    position: absolute;
	    left: 200px;
	    top: 190px;
	}
	.contact_item_box .contact_item{
		margin: 20px 0;
		color: #fff;
		font-size: 20px;
	}








